{% load i18n %}
{% load static %}

{% if page_name or url_name == "page_list" or url_name == "page_detail" %}
<div class="container mt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a class="blue-link" href="{% url 'home' %}">
          {% trans "Home" %}
        </a>
      </li>

      {% if url_name == "page_list" %}
        {% for category in categories %}
          {% if category_slug and category.slug == category_slug %}
          <li class="breadcrumb-item">{{ category.title }}</li>
          {% endif %}
        {% endfor %}

      {% elif url_name == "page_detail" %}
        {% for category in categories %}
          {% if category_slug and category.slug == category_slug %}
            <li class="breadcrumb-item">
              <a class="blue-link" href="{% url 'page_list' category_slug=category.slug %}" title="{%trans 'Category' %}: {{ category.title }}">
                {{ category.title }}
              </a>
            </li>
            {% for page in category.pages.all %}
              {% if page.slug == page_slug %}
                <li class="breadcrumb-item" aria-current="page">{{ page.title }}</li>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% if footer_links %}
        {% for page in footer_links.pages.all %}
        {% if page.status == 1 and page.slug == page_slug %}
        <li class="breadcrumb-item" aria-current="page">{{ page.title }}</li>
        {% endif %}
        {% endfor %}
        {% endif %}

      {% else %}
        <li class="breadcrumb-item" aria-current="page">{{ page_name }}</li>
      {% endif %}
    </ol>
  </nav>
</div>
{% endif %}

