{% load i18n %}
{% load static %}
    <footer class="bg-dark text-light mt-auto">

        <div class="d-flex justify-content-end py-3 pe-4 footer-top">
          <a class="btn btn-primary" href="{% url 'contact' %}">
            <i class="fa-regular fa-envelope"></i> {% trans "Curious? Drop us a line!" %}
          </a>
        </div>

      <div class="container pb-4 pt-5">
        <div class="row">
          <div class="d-none d-md-inline col-md-3 mb-3 mb-md-0 text-center">
            <img class="mt-5 footer-logo" src="{% static 'images/danbw-logo.png' %}" alt="{% trans "Dynamic Aikido Nocquet BW Logo" %}">
            <div class="mt-2 small">Dynamic Aikido Nocquet<br> Baden-Württemberg e. V. {% now "Y" %}</div>
          </div>

          <div class="col-md-3 mb-3 mb-md-0">
            <h5 class="border-bottom border-secondary">{% trans "Navigation" %}</h5>
            <ul class="list-unstyled">
              <li class="mt-2">
                <a class="footer-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                  <i class="fa-solid fa-home"></i> {% trans "Home" %}
                </a>
              </li>
              {% for category in categories %}
              <li class="mt-2">
                <a class="footer-link {% if page.slug == page_list and category_slug == category.slug %}active{% endif %}" href="{% url 'page_list' category_slug=category.slug %}" title="{% trans 'Category' %}: {{ category.title }}">
                  <i class="fa-solid fa-tag"></i> {{ category.title }}
                </a>
              </li>
              {% for page in category.pages.all %}
              {% if page.status == 1 %}
              <li class="ms-3">
                <a class="footer-link {% if page.slug == page_slug %}active{% endif %}" href="{% url 'page_detail' slug=page.slug %}">
                  <i class="fa-solid fa-circle-chevron-right small"></i> {{ page.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
              {% endfor %}
              <li class="mt-2">
                <a class="footer-link {% if url_name == 'courses' %}active{% endif %}" href="{% url 'course_list' %}">
                  <i class="fa-solid fa-list-ul"></i> {% trans "Courses" %}
                </a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-3 mb-md-0">
            <h5 class="border-bottom border-secondary">{% trans "Account" %}</h5>
            <ul class="list-unstyled">
              {% if user.is_authenticated %}
              <li class="mt-2">
                <a class="footer-link {% if url_name == 'userprofile' %}active{% endif %}" href="{% url 'userprofile' %}"><i class="fa-solid fa-user"></i> {% trans "My Profile" %}</a>
              </li>
              <li class="mt-2">
                <li>
                  <a class="footer-link" data-bs-toggle="modal" data-bs-target="#logoutModal" href="#">
                    <i class="fa-solid fa-right-from-bracket"></i> {% trans "Logout" %}</a>
                </li>
              {% else %}
              <li class="mt-2">
                <a class="footer-link {% if url_name == 'account_login' %}active{% endif %}" href="{% url 'account_login' %}"><i class="fa-solid fa-sign-in-alt"></i> {% trans 'Login' %}</a>
              </li>
              <li class="mt-2">
                <a class="footer-link {% if url_name == 'account_signup' %}active{% endif %}" href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i> {% trans 'Sign Up' %}</a>
              </li>
              {% endif %}
              <li class="mt-2">
                <a class="footer-link" href="{% url 'admin:index' %}"><i class="fa-solid fa-cogs"></i> {% trans "Admin Panel" %}</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-3 mb-md-0">
            <h5 class="border-bottom border-secondary">{% trans "Organization" %}</h5>
            <ul class="list-unstyled">
              <li>
                <a class="footer-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}" title="Contact">
                  <i class="fa-solid fa-envelope"></i> {% trans "Get in touch" %}
                </a>
              </li>
              {% if footer_links %}
              {% for page in footer_links.pages.all %}
              {% if page.status == 1 %}
              <li class="mt-2">
                <a class="footer-link {% if page.slug == page_slug %}active{% endif %}" href="{% url 'page_detail' slug=page.slug %}">
                  {% if page.slug == "imprint" %}
                  <i class="fa-solid fa-address-card"></i> {% trans "Imprint" %}
                  {% elif page.slug == "privacy-policy" %}
                  <i class="fa-solid fa-user-shield"></i> {% trans "Privacy Policy" %}
                  {% else %}
                  <i class="fa-solid fa-circle-chevron-right"></i> {{ page.title }}
                  {% endif %}
                </a>
              </li>
              {% endif %}
              {% endfor %}
              {% endif %}
              <li class="mt-2">
                <a class="footer-link" href="{% static 'documents/2022.05.15_DANBW-Satzung.pdf' %}" target="_blank">
                  <i class="fa-solid fa-scroll"></i> {% trans "Statutes" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="d-md-none mb-3 mb-md-0 text-center">
            <img class="mt-5 footer-logo" src="{% static 'images/danbw-logo.png' %}" alt="{% trans "Dynamic Aikido Nocquet BW Logo" %}">
            <div class="mt-2">Dynamic Aikido Nocquet<br> Baden-Württemberg e. V. {% now "Y" %}</div>
          </div>
        </div>
      </div>
    </footer>
