{% load i18n %}

  <hr class="mt-4">
  {% if course.discount_percentage > 0 %}
  <h3 id="discount-conditions">{% trans "Discount Conditions" %}</h3>
  <p>{% trans "The following groups are eligible for a discount:" %}</p>
  <ul>
    <li>{% trans "Students" %}</li>
    <li>{% trans "Trainees" %}</li>
    <li>{% trans "Handicapped persons" %}</li>
    <li>{% trans "Unemployed persons" %}</li>
  </ul>
  <p>
    {% blocktrans trimmed %}
    If one of the above conditions applies to you, please check the "Discount" box in the registration form and bring proof
    of eligibility to the course. Otherwise, the full course fee will be charged.
    {% endblocktrans %}
  </p>
  {% endif %}
  <h3 id="terms-and-conditions">{% trans "Terms and Conditions" %}</h3>
  <p>
    {% blocktrans trimmed %}
    The organizer (D.A.N. BW e. V.) does not provide insurance coverage.
    {% endblocktrans %}
  </p>
  <p>
    {% blocktrans trimmed %}
    Also, the organizer may take photos during the course, which could be published without mentioning names (e.g., on
    the D.A.N. BW website). If you do not wish to have your photos published, please inform the organizer before the start of
    the course.
    {% endblocktrans %}
  </p>
