@font-face {
  font-family: "source-sans";
  src: url(../fonts/SourceSansPro-Regular.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: source-sans;
}

main {
  max-width: 1500px;
  min-width: 75vw;
  margin: 3em auto;
}

.main-logo {
  margin: 0 auto;
  height: 5em;
  transition: all 0.5s;
}

.main-logo:hover {
  opacity: 0.9;
}

.main-title {
  font-size: 1.75rem;
  transition: all 0.5s;
  color: #1e3c95;
}

.main-title:hover {
  color: #b5172c;
}

#main-navigation {
  background: linear-gradient(90deg, #eeeeee, #f8f9fa);
}

footer {
  background: linear-gradient(90deg, #f8f9fa, #eeeeee);
}

@media (max-width: 1400px) {
  .main-title {
    max-width: 25%;
  }
}

@media (max-width: 1200px) {
  .main-title {
    font-size: 1.2rem;
  }
}

h1,
h2 {
  color: #1e3c95;
}

h3 {
  color: #b5172c;
}

h4 {
  margin-top: 0.5em;
}

i {
  margin-right: 5px;
}

.carousel-inner {
  max-height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
}

@media (max-width: 575px) {
  .carousel .carousel-item {
    min-height: 50vw;
  }

  .carousel-item img {
    min-height: 50vw;
  }
}

@media (min-width: 576px) {
  .carousel .carousel-item {
    min-height: 30vw;
  }

  .carousel-item img {
    min-height: 30vw;
  }
}

.featured-image {
  max-height: 500px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .page-content img {
    float: none !important;
    width: 100% !important;
    object-fit: cover;
  }
}

@media (min-width: 575px) {
  .page-content img {
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    margin: 0 0.5em;
  }
}

#auth_bar {
  font-size: 80%;
}

.blue-link {
  color: #1e3c95;
  text-decoration: none;
}

.blue-link:hover {
  text-decoration: underline;
}

.nav-link:hover {
  color: #1e3c95;
}

.active {
  color: #b5172c !important;
}

.active:hover {
  color: #1e3c95 !important;
}

a.badge {
  text-decoration: none;
}

a.badge:hover {
  opacity: 0.8;
}

.accordion > :nth-child(2n) .accordion-button {
  background-color: #dddddd;
}

.accordion > :nth-child(2n) .accordion-button:hover {
  background-color: rgba(30, 60, 149, 0.2);
}

.accordion-button {
  transition: all 0.1s;
}

.accordion-button:hover {
  background-color: rgba(30, 60, 149, 0.2);
}

.accordion-collapse {
  transition: all 0.1s;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(30, 60, 149, 0.2);
}

.accordion-body {
  background-color: #eeeeee;
}

.registration-card {
  max-width: 800px;
}

.btn {
  margin-top: 0.25em;
}

.signup-button {
  margin-top: 5px;
  color: #1e3c95;
  border-color: #1e3c95;
}

.signup-button:hover,
.signup-button:active {
  background-color: #1e3c95 !important;
  border-color: #1e3c95 !important;
}

.course-signup-button {
  background-color: #1e3c95 !important;
  border-color: #1e3c95 !important;
}

.course-signup-button:hover,
.course-signup-button:active {
  background-color: #022385;
  border-color: #022385;
}

.btn-primary {
  background-color: #1e3c95 !important;
  border-color: #1e3c95 !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #254bbd !important;
  border-color: #254bbd !important;
}

.form-card {
  width: 35vw;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1.5em;
  box-shadow: 0 3px 3px lightgrey;
}

.form-table td {
  padding: 0.5em;
}

.registration-form-table td {
  display: block;
}

.registration-form-table th {
  display: block;
  padding-bottom: 0;
  font-weight: normal;
}

.registration-form-table textarea {
  max-height: 15vh;
  width: 100%;
}
