@font-face {
  font-family: "source-sans";
  src: url(../fonts/SourceSansPro-Regular.otf);
}

body {
  font-family: source-sans;
}

.main-logo {
  margin: 0 auto;
  height: 5em;
}

h2 {
  color: #1e3c95;
}

h3 {
  color: #b5172c;
}

@media (max-width: 767px) {
  .carousel .carousel-item {
    min-height: 30vh;
  }

  .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 30vh;
  }
}

.blue-link {
  color: #1e3c95;
  text-decoration: none;
}

.blue-link:hover {
  text-decoration: underline;
}

.nav-link:hover {
  color: #1e3c95;
}

a.badge {
  text-decoration: none;
}

a.badge:hover {
  opacity: 0.8;
}

.signup-button {
  margin-top: 5px;
  color: #1e3c95;
  border-color: #1e3c95;
}

.signup-button:hover {
  background-color: #1e3c95;
  border-color: #1e3c95;
}
