{% load static %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Dynamic Aikido Nocquet BW" %}</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- https://docs.djangoproject.com/en/3.2/ref/contrib/messages/#displaying-messages -->
    {% if messages %}
    <div class="container m-0">
      <div class="row">
        <div class="position-absolute z-3 col col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
          {% for message in messages %}
          <div class="alert msg my-2 px-5 {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{% trans "Close" %}"></button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <div id="auth_bar" class="w-100 bg-secondary text-end text-uppercase text-light border-bottom px-5 py-1">
      <span>{% trans "You are logged in" %}
        {% if user.first_name %}{% trans "as" %}
        <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
           href="{% url 'userprofile' %}" title="{% trans "Go to User Profile" %}">{{ user.first_name }}
           <i class="fa-solid fa-circle-user"></i></a>
        {% endif %}
        &nbsp;|&nbsp;
        <a class="link-light link-underline-opacity-0 link-underline-opacity-75-hover"
           data-bs-toggle="modal" data-bs-target="#logoutModal" href="#" title="{% trans "Logout" %}">
          {% trans "Logout" %} <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </span>
    </div>
    {% endif %}

    <!-- Get data to dynamically set active nav-link. Adapted from: https://stackoverflow.com/a/55151707 -->
    <!-- Django Documentation for ResolverMatch: -->
    <!-- https://docs.djangoproject.com/en/4.2/ref/urlresolvers/#django.urls.ResolverMatch -->
    {% with request.resolver_match.url_name as url_name %}

    {% include 'partials/navigation.html' %}

    <header>
      {% block header %}
      {% endblock header %}
    </header>

    {% include 'partials/breadcrumbs.html' %}
    {% include 'partials/logout-modal.html' %}

    <!-- Content -->
    <main class="px-2 px-lg-5">
      {% block content %}
      {% endblock content %}
    </main>

    {% include 'partials/footer.html' %}

    {% endwith %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>

</html>
