<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Aikido Nocquet BW</title>
</head>

<body>
  <!-- https://docs.djangoproject.com/en/3.2/ref/contrib/messages/#displaying-messages -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <!-- Navigation -->
  <nav>
    <ul>
      <li><a href="{% url 'course_list' %}">All Courses</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'courseregistration_list' %}">My Courses</a></li>
      <li><a href="{% url 'userprofile' %}">My Profile</a></li>
      <li><a href="{% url 'account_logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'account_login' %}">Sign Up | Login</a></li>
      {% endif %}

    </ul>
  </nav>

  <!-- Content -->
  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer></footer>
</body>

</html>
