<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Aikido Nocquet BW</title>
</head>

<body>
  <!-- Navigation -->
  <nav>
    <ul>
      <li><a href="{% url 'course_list' %}">Courses</a></li>
        {% if user.is_authenticated %}
      <li><a href="{% url 'courseregistration_list' %}">My registrations</a></li>
        {% endif %}
    </ul>
  </nav>

  <!-- Content -->
  <main>
    {% block content %}
    {% endblock content %}
  </main>

  <footer></footer>
</body>

</html>
