{% load i18n %}
{% load l10n %}

<div class="course-list-header d-none d-md-flex">
  <div class="container m-0 text-left course-list-header-container">
    <div class="row">
      <div class="col-12 col-md-2 col-lg-2">
        <strong>{% trans "Dates" %}</strong>
      </div>
      <div class="col-12 col-md-2 col-lg-2">
        <strong>{% trans "Organizer" %}</strong>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <strong>{% trans "Title" %}</strong>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <strong>{% trans "Teacher" %}</strong>
      </div>
    </div>
  </div>
</div>
