{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block content %}
{% now "Y-m-d" as todays_date %}
<h2>{% trans "Courses" %}</h2>
<h3 class="mb-4">{% now "Y" %}</h3>
{% if course_list %}
<div class="course-list-header d-none d-md-flex">
    <div class="container m-0 text-left course-list-header-container">
        <div class="row">
            <div class="col-12 col-md-2 col-lg-2">
                <strong>{% trans "Dates" %}</strong>
            </div>
            <div class="col-12 col-md-2 col-lg-2">
                <strong>{% trans "Organizer" %}</strong>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <strong>{% trans "Title" %}</strong>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <strong>{% trans "Teacher" %}</strong>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="accordion" id="accordion">
    {% for course in course_list %}
    {% if course.get_course_type == "InternalCourse" and course.status == 1 %}
    <div class="accordion-item border-0 mb-2" id="accordion-{{ course.id }}">
        <div class="accordion-header">
            <a id="button-{{ course.id }}" class="accordion-button collapsed text-decoration-none" role="button"
               data-bs-toggle="collapse" title="{{ course.title }}" data-bs-target="#collapseCourse{{ course.id }}"
               aria-expanded="false" aria-controls="collapseCourse{{ course.id }}">
                <div class="container m-0 text-left">
                    <div class="row align-items-center">
                        <div class="col-12 d-md-none fs-5">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Dates" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.start_date|localize }} to {{ course.end_date|localize }}</span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Organizer" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.organizer }}</span>
                        </div>
                        <div class="col-md-4 col-lg-4 d-none d-md-block">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Teacher" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.teacher }}</span>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 text-md-end">
                            {% if course.registration_status == 1 %}
                            <span class="badge text-bg-success">
                                {% trans "Registration" %} {{ course.get_registration_status_display }}
                            </span>
                            {% endif %}
                            {% if user.is_authenticated %}
                            {% for registration in user.registrations.all %}
                            {% if registration.course == course %}
                            <span class="badge text-bg-primary"><i class="fa-regular fa-circle-check"></i> {% trans "Signed up" %}</span>
                            {% if registration.exam == True %}
                            <span class="badge text-bg-warning"><i class="fa-regular fa-circle-check"></i> {% trans "Exam" %}</span>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body px-5 py-4">
                <h5 class="mb-4">{{ course.title }}</h5>
                <h6 class="border-bottom border-dark-subtle">{% trans "Dates" %}:</h6>
                {% if course.start_date == course.end_date %}
                <p>{{ course.start_date|date:"l" }}, {{ course.start_date|localize }}</p>
                {% else %}
                <p>{{ course.start_date|localize }} to {{ course.end_date|localize }}</p>
                {% endif %}
                {% if course.description %}
                <h6 class="border-bottom border-dark-subtle">{% trans "Description" %}:</h6>
                <p>{{ course.description|safe }}</p>
                {% endif %}
                <h6 class="border-bottom border-dark-subtle">{% trans "Sessions" %}:</h6>
                <ul>
                    {% for session in course.sessions.all %}
                    <li>
                        {{ session.date|date:"l" }}, {{ session.date|localize }}, {{ session.start_time|localize }} to {{ session.end_time|localize }}:
                        <strong>{{ session.title }}</strong><br>
                    </li>
                    {% endfor %}
                </ul>
                <div class="text-end">
                    {% if course.registration_status == 1 %}
                    <a class="btn btn-primary" href="{% url 'register_course' course.slug %}?next={{ request.path }}"
                       title="{% trans "Sign up for" %} {{ course.title }}">
                        {% trans "Sign up for" %} {{ course.title }}
                    </a>
                    {% elif course.registration_start_date|date:"Y-m-d" > todays_date %}
                    <a class="btn btn-primary disabled">
                        {% trans "Registration starts on" %} {{ course.registration_start_date|localize }}
                    </a>
                    {% else %}
                    <a class="btn btn-primary disabled">
                        {% trans "Registration closed" %}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% elif course.get_course_type == "InternalCourse" and course.status == 0 %}
    <div class="accordion-item border-0 mb-2" id="accordion-{{ course.id }}">
        <div class="accordion-header">
            <span id="button-{{ course.id }}" class="accordion-button accordion-button-no-link text-dark" title="{{ course.title }}">
                <div class="container m-0 text-left">
                    <div class="row align-items-center">
                        <div class="col-12 d-md-none fs-5">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Dates" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.start_date|localize }} to {{ course.end_date|localize }}</span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Organizer" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.organizer }}</span>
                        </div>
                        <div class="col-md-4 col-lg-4 d-none d-md-block">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Teacher" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.teacher }}</span>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 text-md-end">
                            {% if course.registration_status == 1 %}
                            <span class="badge text-bg-success">
                                {% trans "Registration" %} {{ course.get_registration_status_display }}
                            </span>
                            {% endif %}
                            {% if user.is_authenticated %}
                            {% for registration in user.registrations.all %}
                            {% if registration.course == course %}
                            <span class="badge text-bg-primary"><i class="fa-regular fa-circle-check"></i> {% trans "Signed up" %}</span>
                            {% if registration.exam == True %}
                            <span class="badge text-bg-warning"><i class="fa-regular fa-circle-check"></i> {% trans "Exam" %}</span>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    {% elif course.get_course_type == "ExternalCourse" %}
    <div class="accordion-item border-0 mb-2" id="accordion-{{ course.id }}">
        <div class="accordion-header">
            <span id="button-{{ course.id }}" class="accordion-button accordion-button-no-link text-dark" title="{{ course.title }}">
                <div class="container m-0 text-left">
                    <div class="row align-items-center">
                        <div class="col-12 d-md-none fs-5">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Dates" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.start_date|localize }} to {{ course.end_date|localize }}</span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Organizer" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.organizer }}</span>
                        </div>
                        <div class="col-md-4 col-lg-4 d-none d-md-block">
                            <span><strong>{{ course.title }}</strong></span>
                        </div>
                        <div class="col-3 d-md-none">{% trans "Teacher" %}: </div>
                        <div class="col-9 col-md-2 col-lg-2">
                            <span>{{ course.teacher }}</span>
                        </div>
                        <div class="col-12 col-md-2 col-lg-2 text-md-end">
                            <a href="{{ course.url }}" class="badge btn btn-sm btn-outline-primary" title="{% trans "Go to" %} {{ course.title }}" target="_blank">
                                <small><i class="fas fa-external-link-alt"></i></small>
                                {% trans "Course website" %}
                            </a>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    {% endif %}
    {% empty %}
    <p>{% trans "There are currently no courses available." %}</p>
    {% endfor %}
</div>

{% endblock content %}
