{% extends 'base.html' %}

{% block content %}

<h3>Your upcoming courses</h3>

{% for registration in upcoming_registrations %}
<div class="card my-4 registration-card">
    <h4 id="registration-{{ registration.id }}" class="card-header bg-secondary-subtle">{{ registration.course.title }}
    </h4>
    <div class="card-body">
        <table class="table">
            <tr>
                <th scope="col">Dates:</th>
                <td>{{ registration.course.start_date|date:"M j" }} to {{ registration.course.end_date }}</td>
            </tr>
            <tr>
                <th scope="col">Selected Sessions:</th>
                <td>
                    <ul>
                        {% for session in registration.selected_sessions.all %}
                        <li>
                            <strong>{{ session.title }}</strong><br>
                            {{ session.date }}, {{ session.start_time }} to {{ session.end_time }}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            <tr>
                <th scope="col">Course Fee:</th>
                <td>{{ registration.final_fee }} €</td>
            </tr>
            {% if registration.comment %}
            <tr>
                <th scope="col">Your Comment:</th>
                <td>{{ registration.comment }}</td>
            </tr>
            {% endif %}
        </table>

        {% if registration.exam %}
        <p class="badge text-bg-warning">You have applied for an exam for {{ registration.get_exam_grade_display }}.</p>
        {% endif %}

    </div>
    <div class="card-footer bg-secondary-subtle text-center">
        <a class="btn btn-sm btn-primary course-signup-button m-2 my-sm-0" title="Update Registration"
            href="{% url 'update_courseregistration' registration.pk %}">Update registration</a>
        <a class="btn btn-sm btn-danger m-2 my-sm-0" title="Cancel Registration"
            href="{% url 'cancel_courseregistration' registration.pk %}">Cancel registration</a>
    </div>

</div>
{% empty %}
<p>
    You are currently not signed up for any courses. You can find a <a href="{% url 'course_list' %}" class="blue-link"
        title="Go to course list">list of all courses here.</a>
</p>
{% endfor %}

<h3 class="mt-5 mb-4">Your past courses</h3>

{% for registration in past_registrations %}
<div class="card my-4 registration-card">
    <h5 id="registration-{{ registration.id }}" class="card-header bg-secondary-subtle">{{ registration.course.title }}
    </h5>
    <div class="card-body">
        <table class="table">
            <tr>
                <th scope="col">Dates:</th>
                <td>{{ registration.course.start_date|date:"M j" }} to {{ registration.course.end_date }}</td>
            </tr>
        </table>
        <p class="badge text-bg-secondary mb-0">
            {% if registration.exam and registration.exam_passed %}
            You have passed your {{ registration.get_exam_grade_display }} exam on this course.
            {% elif registration.exam and registration.exam_passed == False %}
            You did not pass your {{ registration.get_exam_grade_display }} exam on this course.
            {% elif registration.exam %}
            You applied for your {{ registration.get_exam_grade_display }} exam on this course.
            {% else %}
            No exam
            {% endif %}
        </p>
    </div>
</div>
{% empty %}
<p>You did not sign up for any courses in the past.</p>
{% endfor %}
{% endblock content %}
