{% load static %}
{% load i18n %}
{% load l10n %}

{% now "Y-m-d" as todays_date %}

<div class="accordion-item border-0 mb-2" id="accordion-{{ course.id }}">
    <div class="accordion-header">
        <button id="button-{{ course.id }}" class="accordion-button collapsed text-decoration-none
           {% if course.get_course_type != "InternalCourse" or course.status == 0 %}
           accordion-button-no-link
           {% endif %}" 
           role="button"
           {% if course.get_course_type == "InternalCourse" and course.status == 1 %}
           data-bs-toggle="collapse"
           {% endif %}
           title="{{ course.title }}" data-bs-target="#collapseCourse{{ course.id }}"
           aria-expanded="false" aria-controls="collapseCourse{{ course.id }}">
            <div class="container m-0 text-left">
                <div class="row align-items-center">
                    <div class="col-12 d-md-none fs-5">
                        <span><strong>{{ course.title }}</strong></span>
                    </div>
                    <div class="col-3 d-md-none">{% trans "Dates" %}</div>
                    <div class="col-9 col-md-2 col-lg-2">
                        {% if course.start_date == course.end_date %}
                        <span>{{ course.start_date|localize }}</span>
                        {% else %}
                        <span>{{ course.start_date|localize }} to {{ course.end_date|localize }}</span>
                        {% endif %}
                    </div>
                    <div class="col-3 d-md-none">{% trans "Organizer" %}</div>
                    <div class="col-9 col-md-2 col-lg-2">
                        <span>{{ course.organizer }}</span>
                    </div>
                    <div class="col-md-4 col-lg-4 d-none d-md-block">
                        <span><strong>{{ course.title }}</strong></span>
                    </div>
                    <div class="col-3 d-md-none">{% trans "Teacher" %}</div>
                    <div class="col-9 col-md-2 col-lg-2">
                        <span>{{ course.teacher }}</span>
                    </div>
                    <div class="col-12 col-md-2 col-lg-2 text-md-end">
                    {% if course.get_course_type == "InternalCourse" %}
                        {% if course.registration_status == 1 and not course.user_registered %}
                        <span class="badge text-bg-success"><i class="fa-solid fa-user-plus"></i>
                            {% trans "Registration" %} {{ course.get_registration_status_display }}
                        </span>
                        {% endif %}
                        {% if user.is_authenticated %}
                        {% for registration in user.registrations.all %}
                        {% if registration.course == course %}
                        <a class="badge text-bg-primary" href="{% url 'courseregistration_list' %}#{{ registration.id }}"
                            title="{% trans "Show registration" %}"><i class="fa-regular fa-circle-check"></i>
                            {% if course.start_date|date:"Y-m-d" >= todays_date %}
                                {% trans "Signed up" %}
                            {% else %}
                                {% trans "Attended" %}
                            {% endif %}
                        </a>
                        {% if registration.exam == True %}
                        <a class="badge text-bg-warning" href="{% url 'courseregistration_list' %}#{{ registration.id }}"
                            title="{% trans "Show registration" %}">
                            <i class="fa-regular fa-circle-check"></i> {% trans "Exam" %}
                        </a>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    {% else %}
                        {% if course.end_date|date:"Y-m-d" >= todays_date %}
                        <a href="{{ course.url }}" class="badge btn btn-sm btn-outline-primary"
                            title="{% trans " Go to" %} {{ course.title }}" target="_blank">
                            <small><i class="fas fa-external-link-alt"></i></small>
                            {% trans "Course website" %}
                        </a>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </button>
    </div>
    <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ year }}">
        <div class="accordion-body px-5 py-4">
            <h5 class="mb-4 border-bottom border-dark-subtle">{{ course.title }}</h5>
            <div class="row">
                <div class="d-flex d-md-none mb-3 mb-md-0">
                    {% if course.flyer %}
                    <img src="{{ course.flyer.url }}" class="img-fluid" alt="Image for {{ course.title }}">
                    {% else %}
                    <img src="{% static '/images/placeholder.jpg' %}" class="img-fluid"
                        alt="Image for {{ course.title }}">
                    {% endif %}
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-md-4 fw-bold mt-1">{% trans "Dates" %}</div>
                        {% if course.start_date == course.end_date %}
                        <div class="col-md-8 mt-md-1">
                            {{ course.start_date|date:"l" }}, {{ course.start_date|localize }}
                        </div>
                        {% else %}
                        <div class="col-md-8 mt-md-1">
                            {{ course.start_date|localize }} to {{ course.end_date|localize }}
                        </div>
                        {% endif %}
                    </div>
                    <hr>
                    {% if course.location %}
                    <div class="row">
                        <div class="col-md-4 fw-bold mt-1">{% trans "Location" %}</div>
                        <div class="col-md-8 mt-md-1">{{ course.location }}</div>
                    </div>
                    <hr>
                    {% endif %}
                    {% if course.description %}
                    <div class="row">
                        <div class="col-md-4 fw-bold mt-1">{% trans "Description" %}</div>
                        <div class="col-md-8 mt-md-1 mt-1">{{ course.description|safe }}</div>
                    </div>
                    <hr>
                    {% endif %}
                    {% if course.additional_info %}
                    <div class="row">
                        <div class="col-md-4 fw-bold mt-1">{% trans "Additional Information" %}</div>
                        <div class="col-md-8 mt-md-1">{{ course.additional_info|safe }}</div>
                    </div>
                    <hr>
                    {% endif %}
                    <div class="row">
                        <div class="fw-bold mt-1">{% trans "Sessions" %}</div>
                        {% regroup course.sessions.all by date as session_dates %}
                        {% for date_group in session_dates %}
                        <div class="col-md-4 mt-2 mt-md-0">
                            {{ date_group.grouper|date:"l, F j, Y" }}
                        </div>
                        <div class="col-md-8">
                            {% for session in date_group.list %}
                            <div class="row">
                                <div class="col-5">
                                    {{ session.start_time|localize }} to {{ session.end_time|localize }} {% if session.start_time|localize == session.start_time|date:"H:i" %} Uhr {% endif %}
                                </div>
                                <div class="col-7">
                                    <strong>{{ session.title }}</strong><br>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 mb-3 mb-md-0">
                    {% if course.flyer %}
                    <img src="{{ course.flyer.url }}" class="img-fluid" alt="Image for {{ course.title }}">
                    {% else %}
                    <img src="{% static 'images/placeholder.jpg' %}" class="img-fluid"
                        alt="Image for {{ course.title }}">
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="text-center">
                {% if course.user_registered %}
                {% for registration in user.registrations.all %}
                {% if registration.course == course %}
                <a class="btn btn-primary" href="{% url 'courseregistration_list' %}#{{ registration.id }}">
                    {% trans "You are already signed up. Go to your registration" %}
                </a>
                {% endif %}
                {% endfor %}
                {% elif course.registration_status == 1 %}
                <a class="btn btn-primary" href="{% url 'register_course' course.slug %}?next={{ request.path }}">
                    {% trans "Sign up for" %} {{ course.title }}
                </a>
                {% elif course.registration_start_date|date:"Y-m-d" > todays_date %}
                <a class="btn btn-primary disabled">
                    {% trans "Registration starts on" %} {{ course.registration_start_date|localize }}
                </a>
                {% else %}
                <a class="btn btn-primary disabled">
                    {% trans "Registration closed" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
