{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Courses</h2>
<h3 class="mb-4">{% now "Y" %}</h3>
<div class="accordion" id="accordion">
    {% for course in course_list %}
    <div class="accordion-item" id="accordion-{{ course.id }}">
        <div class="accordion-header">
            <a id="button-{{ course.id }}" class="accordion-button collapsed text-decoration-none" role="button"
                data-bs-toggle="collapse" title="{{ course.title }}" data-bs-target="#collapseCourse{{ course.id }}" aria-expanded="false"
                aria-controls="collapseCourse{{ course.id }}">
                <div class="container m-0 text-left">
                    <div class="row">
                        <div class="col-8 col-md-3 col-lg-2">
                            <strong>
                                {{ course.start_date|date:"M j" }} to {{ course.end_date|date:"M j" }}
                            </strong>
                        </div>
                        <div class="col-8 col-md-6 col-lg-8">
                            <strong>
                                {{ course.title }}
                            </strong>
                        </div>
                        <div class="col-8 col-md-3 col-lg-2">
                            {% if course.registration_status == 1 %}
                            <span class="badge text-bg-success">
                                Registration {{ course.get_registration_status_display }}
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseCourse{{ course.id }}" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body">
                <h4 class="mb-4">{{ course.title }}</h4>
                <h5 class="border-bottom border-dark-subtle"><strong>Dates:</strong></h5>
                <p>{{ course.start_date|date:"M n" }}-{{ course.end_date }}</p>
                {% if course.description %}
                <h5 class="border-bottom border-dark-subtle"><strong>Description:</strong></h5>
                <p>{{ course.description|safe }}</p>
                {% endif %}
                <h5 class="border-bottom border-dark-subtle"><strong>Sessions:</strong></h5>
                <ul>
                    {% for session in course.sessions.all %}
                    <li>
                        <strong>{{ session.title }}</strong><br>
                        {{ session.date }}, {{ session.start_time }} to {{ session.end_time }}
                    </li>
                    {% endfor %}
                </ul>
                <hr class="text-light">
                {% if course.registration_status == 1 %}
                <a class="btn btn-primary course-signup-button" href="{% url 'register_course' course.slug %}"
                    title="Sign up for {{ course.title }}">
                    Sign up for this course</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>There are currently no courses available.</p>
    {% endfor %}
</div>

{% endblock content %}
