{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}

{% block content %}
<h2>{% trans "Your Course Registrations" %}</h2>

<h3>{% trans "Your upcoming courses" %}</h3>

{% for registration in upcoming_registrations %}
<div class="card my-4 registration-card">
    <div class="card-header bg-secondary-subtle d-sm-flex justify-content-between">
        <h4 id="registration-{{ registration.id }}" class="my-1 card-title">
            {{ registration.course.title }}
        </h4>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th scope="col">{% trans "Dates:" %}</th>
                <td>{{ registration.course.start_date|localize }} {% trans "to" %} {{ registration.course.end_date|localize }}</td>
            </tr>
            <tr>
                <th scope="col">{% trans "Selected Sessions:" %}</th>
                <td>
                    <ul class="list-unstyled">
                        {% for session in registration.selected_sessions.all %}
                        <li>
                            <strong>{{ session.title }}</strong> ({{ session.date|localize }}, {{ session.start_time|localize }}-{{ session.end_time|localize }})
                        </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th scope="col">{% trans "Course Fee:" %}</th>
                <td>€{{ registration.final_fee }}</td>
            </tr>
            {% if registration.payment_method == 0 %}
            <tr>
                <th scope="col"></th>
                <td>
                    {% trans "Please transfer the course fee to the following account until" %} <strong>{{ registration.course.bank_transfer_until|localize }}</strong>:
                    <div class="mt-2">{{ bank_account|linebreaksbr }}</div>
                </td>
            </tr>
            {% else %}
            <tr>
                <th scope="col"></th>
                <td>
                    {% trans "Please pay the course fee in cash at the beginning of the course." %}
                </td>
            </tr>
            {% endif %}
            {% if registration.dinner %}
            <tr>
                <th scope="col">{% trans "Dinner" %}:</th>
                <td>
                    {% trans "You have signed up for the dinner." %}<br>
                    <small>{% trans "Please note that this is a binding reservation." %}</small>
                </td>
            </tr>
            {% endif %}
            {% if registration.overnight_stay %}
            <tr>
                <th scope="col">{% trans "Overnight stay" %}:</th>
                <td>
                    {% trans "You have specified that you need a place to stay overnight." %}<br>
                </td>
            </tr>
            {% endif %}
            {% if registration.comment %}
            <tr>
                <th scope="col">{% trans "Your Comment:" %}</th>
                <td>{{ registration.comment }}</td>
            </tr>
            {% endif %}
        </table>

        {% if registration.exam %}
        <p class="badge text-bg-warning">
            {% blocktrans with exam_grade=registration.get_exam_grade_display %}
            You have applied for an exam for {{ exam_grade }}.
            {% endblocktrans %}
        </p>
        {% endif %}

    </div>
    <div class="card-footer bg-secondary-subtle text-center">
        <a class="btn btn-sm btn-primary course-signup-button m-2 my-sm-0"
            href="{% url 'update_courseregistration' registration.pk %}">
            {% trans "Update registration" %}
        </a>
        <a class="btn btn-sm btn-danger m-2 my-sm-0" data-bs-toggle="modal"
            data-bs-target="#cancelRegistrationModal{{ registration.pk }}" href="#">
            {% trans "Cancel registration" %}
        </a>
    </div>

    <!-- Cancel Registration Modal -->
    <div class="modal fade" id="cancelRegistrationModal{{ registration.pk }}" tabindex="-1"
        aria-labelledby="cancelRegistrationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelRegistrationModalLabel">{% trans "Cancel Registration" %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans "Close" %}"></button>
                </div>
                <div class="modal-body">
                    <h2>{% trans "Cancel Registration for" %} {{ registration.course.title }}?</h2>
                    <p>
                        {% blocktrans with course_title=registration.course.title %}
                        Are you sure you want to cancel your registration for {{ registration.course.title }}?
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'cancel_courseregistration' registration.pk %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{% trans "No, go back" %}</button>
                        <input class="btn btn-sm btn-danger" type="submit" value="{% trans "Yes, cancel my registration" %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<p class="my-4">
    {% trans "You are currently not signed up for any courses. " %}
</p>
<p>
<a class="btn btn-outline-primary" href="{% url 'course_list' %}" title="{% trans 'Go to course list' %}">
      <i class="fa-solid fa-user-plus"></i>
      {% trans "Sign up now" %}
  </a>
</p>
{% endfor %}

<h3 class='mt-5'>{% trans "Your past courses" %}</h3>

{% for registration in past_registrations %}
<div class="card my-4 registration-card">
    <div class="card-header bg-secondary-subtle d-sm-flex justify-content-between">
        <h4 id="registration-{{ registration.id }}" class="my-1 card-title">
            {{ registration.course.title }}
        </h4>
        <form method="post" action="{% url 'set_attendence_status' registration.pk %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% if registration.exam_passed is None %}
            <button type="submit" class="btn btn-sm btn-outline-primary">
                <i class="fa fa-user-slash"></i> {% trans "Mark as not attended" %}
            </button>
            {% endif %}
        </form>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th scope="col">{% trans "Dates:" %}</th>
                <td>{{ registration.course.start_date|localize }} {% trans "to" %} {{ registration.course.end_date|localize }}</td>
            </tr>
            <tr>
                <th scope="col">{% trans "Teacher" %}</th>
                <td>{{ registration.course.teacher }}</td>
            </tr>
        </table>
        {% if registration.exam and registration.attended %}
        <p class="badge text-bg-secondary mb-0">
            {% if registration.exam_passed %}
            {% blocktrans with exam_grade=registration.get_exam_grade_display %}
                You have passed your {{ exam_grade }} exam on this course.
            {% endblocktrans %}
            {% elif registration.exam_passed == False %}
            {% blocktrans with exam_grade=registration.get_exam_grade_display %}
                You did not pass your {{ exam_grade }} exam on this course.
            {% endblocktrans %}
            {% elif registration.exam_passed is None %}
            {% blocktrans with exam_grade=registration.get_exam_grade_display %}
                You applied for your {{ exam_grade }} exam on this course.
            {% endblocktrans %}
            {% endif %}
        </p>
        {% endif %}
    </div>
</div>
{% empty %}
<p class="mt-4">{% trans "No past courses." %}</p>
{% endfor %}

{% if unattended_registrations %}
<div>
    <button id="show-hide-courses-btn" class="btn btn-sm btn-outline-secondary bt-2 mb-4" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseCourses" aria-expanded="false" aria-controls="collapseCourses">
        <span id="show-courses" class="d-inline">{%trans "Show unattended courses" %}<i class="fa fa-chevron-down ms-2"></i></span>
        <span id="hide-courses" class="d-none">{%trans "Hide unattended courses" %}<i class="fa fa-chevron-up ms-2"></i></span>
    </button>
</div>
<div class="collapse" id="collapseCourses">
    <table class="table table-striped registration-card">
        <tbody>
            {% for registration in unattended_registrations %}
            <tr>
                <th class="align-middle ps-3" scope="row">{{ registration.course.title }}</th>
                <td class="align-middle">{{ registration.course.start_date|localize }} {% trans "to" %} {{ registration.course.end_date|localize }}</td>
                <td class="align-middle text-end pe-3">
                    <form method="post" action="{% url 'set_attendence_status' registration.pk %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="text-nowrap btn btn-sm btn-outline-primary">
                            <i class="fa fa-user-plus"></i> {% trans "Mark as attended" %}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock content %}
