{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card form-card text-center">
  <div class="card-header">
    <h2 class="my-1">{% trans "Create User Profile" %}</h2>
  </div>
  <form method="post">
    <div class="card-body">
      <p>
        {% trans "Before being able to sign up for courses you need to create a user profile. Please fill out the form below." %}
      </p>
      {% csrf_token %}
      <div class="text-start">
        {{ form|crispy }}
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-sm" type="submit">{% trans "Create Profile" %}</button>
    </div>
  </form>
</div>

<script src="{% static 'js/user_profile_form.js' %}"></script>

{% endblock content %}
