{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h2>{% trans "Children's Passport Application" %}</h2>
<p>Prerequisite for registering for the Aikido exam is an application for a children's pass with D.A.N. in Baden-Württemberg e. V. The children's pass will only be issued once this application is completely filled out and a fee of €15 has been received in the account listed below. This fee includes the issuance of the children's pass, the Aikido guide for children and teenagers, as well as the provision of a colored belt upon passing the exam.</p>
<p>Before the exam, a photo of the child must be added to the children's pass. Please provide the trainer with a current passport photo or similar.</p>

<p><strong>Bank details:</strong><br>
DAN in Baden-Württemberg e.V.<br>
IBAN: DE59 6809 0000 0017 8619 05<br>
BIC: GENODE61FR1<br>
Volksbank Freiburg</p>

<form method="post" class="membership_form">
  {% csrf_token %}
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Personal Details" %}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      {{ form.date_of_birth|as_crispy_field }}
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.dojo|as_crispy_field }}
          {{ form.other_dojo|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.grade|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Contact Information" %}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.name_legal_guardian|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.email|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.street|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.street_number|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.postcode|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.city|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.phone_home|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.phone_mobile|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Additional Information" %}</h4>
    </div>
    <div class="card-body">
      <div class="alert alert-secondary pb-0">
        <p>{% trans "All personal data received will be processed and stored in compliance with the legal provisions of the Federal Data Protection Act. No data will be passed on to third parties outside the above-mentioned organization." %}</p>
      </div>
      {{ form.accept_terms|as_crispy_field }}
      {{ form.liability_disclaimer|as_crispy_field }}
      {{ form.comment|as_crispy_field }}
    </div>
  </div>
  <button class="btn btn-primary btn-sm" type="submit">{% trans "Send Application" %}</button>
</form>

<script src="{% static 'js/membership_form.js' %}"></script>

{% endblock content %}


