{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

{% static 'documents/2022.05.15_DANBW-Satzung.pdf' as danbw_statutes_url %}
{% static 'documents/UKAU_Satzung.pdf' as ukau_statutes_url %}

<h2>{% trans "Membership Application" %}</h2>
<form method="post" class="membership_form">
  {% csrf_token %}
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Personal Details" %}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.first_name|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.last_name|as_crispy_field }}
        </div>
      </div>
      {{ form.date_of_birth|as_crispy_field }}
      <hr>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.dojo|as_crispy_field }}
          {{ form.other_dojo|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.grade|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Contact Information" %}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.street|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.street_number|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.postcode|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.city|as_crispy_field }}
        </div>
      </div>
      {{ form.email|as_crispy_field }}
      <div class="row">
        <div class="col-12 col-md-6">
          {{ form.phone_home|as_crispy_field }}
        </div>
        <div class="col-12 col-md-6">
          {{ form.phone_mobile|as_crispy_field }}
        </div>
      </div>
    </div>
  </div>
  {% if membership_type == "dan_international" %}
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Payment Details" %}</h4>
    </div>
    <div class="card-body">
      <div class="alert alert-secondary">
        <p>
          {% blocktrans with full_fee=fees.dan_international %}
          The membership fee is <strong>€{{ full_fee }}</strong> per year.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans with full_fee=fees.dan_international fee_2nd=fees.dan_int_2nd_quarter fee_3rd=fees.dan_int_3rd_quarter fee_4th=fees.dan_int_4th_quarter %}
          New members who apply for membership from the 2nd, 3rd, or 4th quarter of the year are only charged a reduced
          fee of <strong>€{{ fee_2nd }}</strong>, <strong>€{{ fee_3rd }}</strong>, or <strong>€{{ fee_4th }}</strong>, respectively.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
          The membership fee is collected annually in December for the following year by SEPA direct debit from DANBW e.V.
          as a representative for DAN International.
          {% endblocktrans %}
        </p>
      </div>
      {{ form.sepa|as_crispy_field }}
      {{ form.iban|as_crispy_field }}
      {{ form.account_holder|as_crispy_field }}
    </div>
    {% endif %}
  </div>
  <div class="card mb-3">
    <div class="card-header">
      <h4 class="card-title">{% trans "Additional Information" %}</h4>
    </div>
    <div class="card-body">
      {% if membership_type == "dan_international" %}
      <div class="alert alert-secondary pb-0">
        <p>
          {% blocktrans trimmed %}
          Membership is automatically renewed for another year at the end of the year. A termination of membership must be
          made by December 1st in order to take effect at the end of the year.
          {% endblocktrans %}
        </p>
        <p>
          {% blocktrans trimmed %}
          Suspending the direct debit procedure or reclaiming the amount collected does not constitute termination. In this
          case, DANBW e.V. charges an administrative fee of €5 for the additional effort.
          {% endblocktrans %}
        </p>
      </div>
      {% else %}
      <div class="alert alert-secondary">
        <p>
          {% blocktrans with danbw_fee=fees.danbw %}
          I will transfer the annual membership fee of €{{ danbw_fee }} to the following account:
          {% endblocktrans %}
        </p>
        {{ bank_details|linebreaks }}
      </div>
      {% endif %}
      <div class="alert alert-secondary pb-0">
        <p>
          {% blocktrans trimmed %}
          All personal data received will be processed and stored in compliance with the legal provisions of the Federal Data
          Protection Act. No data will be passed on to third parties outside the above-mentioned organization.
          {% endblocktrans %}
        </p>
      </div>
      {{ form.accept_terms|as_crispy_field }}
      <p class="ms-4">
        {% if membership_type == "dan_international" %}
        <a href="{{ ukau_statutes_url }}" target="_blank">
          <i class="fas fa-file-arrow-down"></i> {% trans "Statutes of DAN International" %}
        </a>
        {% else %}
        <a href="{{ danbw_statutes_url }}" target="_blank">
          <i class="fas fa-file-arrow-down"></i> {% trans "Statutes of DANBW e.V." %}
        </a>
        {% endif %}
      </p>
      {{ form.liability_disclaimer|as_crispy_field }}
      {{ form.comment|as_crispy_field }}
    </div>
  </div>
  <button class="btn btn-primary btn-sm" type="submit">{% trans "Send Application" %}</button>
</form>

<script src="{% static 'js/membership_form.js' %}"></script>

{% endblock content %}
