{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>{{ page_list.first.category.title }}</h2>
<hr>
{% for page in page_list %}
<h3 id="{{ page.slug }}" class="mt-5">{{ page.title }}</h3>
<!-- Content -->
<div class="container mb-5 mx-0 mw-100">
  <div class="row">
    <div class="p-0 col-12 {% if not 'placeholder' in page.featured_image.url %}col-md-7{% endif %}">
      {{ page.content|safe }}
    </div>
    {% if not "placeholder" in page.featured_image.url %}
    <div class="col-12 col-md-5 px-0 py-2 px-md-4 py-md-0">
      <img class="featured-image" src=" {{ page.featured_image.url }}" width="100%">
    </div>
    {% endif %}
  </div>
</div>
<hr class="clearfix">
{% endfor %}
{% endblock %}
