{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}

<h2>{% trans "Sign up for" %} {{ course.title }}</h2>
<p>
{% if user.is_authenticated %}
<span>{% trans "Please select the sessions you want to attend." %}</span>
{% else %}
<span>{% trans "Please provide your personal details and select the sessions you want to attend." %}</span>
{% endif %}
<span>{% trans "The course fee will be displayed below the form" %}</span>
</p>
<div class="registration-form-wrapper">
  <form method="post">
    {% csrf_token %}
    {% include "registration_form.html" %}
    <a href="{% url 'course_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    <button id="submit-button" class="btn btn-primary disabled" type="submit">{% trans "Sign up" %}</button>
  </form>

  {% include "partials/registration_conditions.html" %}

</div>

<!-- Instructions for safely passing data to JavaScript: -->
<!-- https://adamj.eu/tech/2022/10/06/how-to-safely-pass-data-to-javascript-in-a-django-template/ -->
<script src="{% static 'js/registration_form.js' %}" defer></script>
{{ course_data|json_script:"course_data" }}

{% endblock content %}
