{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="card form-card text-center">
    <div class="card-header">
        <h2 class="my-1">{% trans "Update User Profile" %}</h2>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="text-start px-2 px-md-5">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% if request.META.HTTP_REFERER %}
                      {{ request.META.HTTP_REFERER }}
                      {% else %}
                      {% url 'userprofile' %}
                      {% endif %}"
               class="btn btn-secondary btn-sm">
                {% trans "Cancel" %}
            </a>
            <button class="btn btn-primary btn-sm" type="submit">{% trans "Update profile" %}</button>
        </div>
    </form>
</div>

<script src="{% static 'js/user_profile_form.js' %}"></script>

{% endblock content %}
