{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>Update registration for {{ course.title }}</h3>
<div class="registration-form-wrapper">
  <form method="post">
    {% csrf_token %}
    {% include "registration_form.html" %}
    <a href="{% url 'courseregistration_list' %}" class="btn btn-sm btn-secondary">Cancel</button>
    </a>
    <button id="submit-button" class="btn btn-sm btn-primary disabled" type="submit">Update registration</button>
  </form>
  <hr class="mt-4">
  <h3 id="terms-and-conditions">Terms and Conditions</h3>
  <p>The organizer (DANBW e. V.) does not provide insurance coverage.</p>
  <p>Also, the organizer may take photos during the course, which could be published without mentioning names (e.g., on
    the DANBW website). If you do not wish to have your photos published, please inform the organizer before the start
    of the course.</p>
</div>

<!-- Instructions for safely passing data to JavaScript: -->
<!-- https://adamj.eu/tech/2022/10/06/how-to-safely-pass-data-to-javascript-in-a-django-template/ -->
<script src="{% static 'js/registration_form.js' %}" defer></script>
{{ course_data|json_script:"course_data" }}

{% endblock content %}
