{% extends 'base.html' %}

{% block content %}
<h3>Did you pass your exam?</h3>
<p>You have applied for an exam with your registration for {{ exam_registration.course }}</p>
<p>Did you pass the exam?</p>
<form method="post" action="{% url 'update_grade' %}">
    {% csrf_token %}
    <button btn btn-success btn-sm type="submit" name="answer" value="yes">Yes, I passed</button>
    <button btn btn-secondary btn-sm type="submit" name="answer" value="no">No, I didn't</button>
</form>
{% endblock content %}
