{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card form-card text-center">
    <div class="card-header">
        <h2>Update User Profile</h2>
    </div>
    <form method="post">
        <div class="card-body">
            <div class="text-start px-5">
                {% csrf_token %}
                {{ form|crispy }}
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'userprofile' %}" class="btn btn-secondary btn-sm">Cancel</a>
            <button class="btn btn-primary btn-sm" type="submit">Update information</button>
        </div>
    </form>
</div>
{% endblock content %}
