{% extends 'base.html' %}

{% block content %}
<h3>My User Profile</h3>
<ul>
  <li>Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</li>
  <li>E-mail: {{ profile.user.email }}</li>
  <li>Grade: {{ profile.get_grade_display }}</li>
</ul>

<p><a href="{% url 'courseregistration_list' %}">My Courses</a></p>
<p><a href="{% url 'update_userprofile' %}">Edit my Profile</a></p>
{% if not user.is_staff %}
<p><a href="{% url 'account_change_password' %}">Change my password</a></p>
<p><a href="{% url 'deactivate_user' %}">Deactivate my Account</a></p>
{% endif %}
{% endblock content %}
