{% load i18n %}
{% load l10n %}

<!doctype html>
<html lang="{{ request.LANGUAGE_CODE }}">

<head>
  <meta charset="UTF-8" />
  <title>{{ subject }}</title>
</head>

<body>
  <p>
    {% if request.user.is_authenticated %} {% trans "Hi" %} {{ request.user.first_name }},
    {% else %} {% trans "Hi" %} {{ registration.first_name }}, {% endif %}
  </p>
  <p>{% trans "You have successfully signed up for" %} <strong>{{ registration.course.title }}</strong></p>
  <p>
    {% trans "Course dates:" %} {{ registration.course.start_date|localize }} {% trans "to" %} {{ registration.course.end_date|localize }}
  </p>

  <p>{% trans "Registration details:" %}</p>
  <ul>
    <li>
      {% trans "Selected sessions:" %}
      <ul>
        {% for session in sessions %}
        <li>{{ session }}</li>
        {% endfor %}
      </ul>
    </li>
    {% if registration.exam %}
    <li>
      {% trans "You applied for an exam for" %} {{ registration.get_exam_grade_display }}
    </li>
    {% endif %}
    <li>{% trans "Course Fee:" %} <strong>€ {{ registration.final_fee|floatformat:2 }}</strong>
    <li>{% trans "Payment method:" %} {{ registration.get_payment_method_display }}</li>
  </ul>
  {% if registration.payment_method == 0 %}
  <p>
    {% trans "Please transfer the course fee to the following account until" %} <strong>{{ registration.course.bank_transfer_until|localize }}</strong>:
  </p>
  <p style="margin-left: 1rem;">
    {{ bank_account|linebreaksbr }}
  </p>
  {% endif %}
  {% if registration.dinner %}
  <p>
    {% trans "You have signed up for the dinner." %}&nbsp;
    {% trans "Please note that this is a binding reservation." %}
  </p>
  {% endif %}
  <p>
    {% trans "Kind regards," %}<br />
    D.A.N. BW e.V.
  </p>
</body>

</html>

